<div class="row">
	<div class="col-xs-6">
		<h5>Фильтр категорий</h5>
		<select ng-model="$ctrl.category" class="form-control">
		  	<option>Все</option>
		  	<option ng-repeat="option in $ctrl.categories">{{option}}</option>
		</select>
	</div>
	<div class="col-xs-6">
		<h5>Фильтр VIP</h5>
		<select ng-model="$ctrl.catStatus" class="form-control">
			<option value="Все">Все</option>
		  	<option value="true">VIP</option>
		  	<option value="false">Не VIP</option>
		</select>
	</div>
</div>
<table id="calendar" class="table table-striped">
	<thead>
		<tr>
			<td colspan="7" class="caption">
				<button class="prev" ng-click="$ctrl.prevMonth()"></button>
				<span>{{$ctrl.month}}</span>
				<button class="next" ng-click="$ctrl.nextMonth()"></button>
			</td>
		</tr>
		<tr>
			<th>ПН</th>
			<th>ВТ</th>
			<th>СР</th>
			<th>ЧТ</th>
			<th>ПТ</th>
			<th>СБ</th>
			<th>ВС</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tr in $ctrl.days">
			<td ng-repeat="td in tr.td  track by $index" ng-class="{day: td.day && td.day != ' '}">
				<day-comp 
					tasks="$ctrl.tasks" 
					month="$ctrl.month" 
					category="$ctrl.category"
					status="$ctrl.catStatus"
					td="td">
				</day-comp>
			</td>
			
		</tr>
	</tbody>
</table>

