
.container {
  width: 1170px;
  padding-top: 40px;
  .row {
    margin-bottom: 20px;
  }
}

table {
  font-family: sans-serif;
  background: antiquewhite;
  width: 100%;
  tbody {
    td {
      background: #fff;
      border-left: 1px solid #ddd;
      height: 70px;
      width: 200px;
      vertical-align: top;
      li {
        background:#B0E4AF;
        background: #B0E4AF;
        padding: 3px;
        margin-top: 5px;
        border-radius: 5px;
        text-align: center;
      }
    }
  }
  .day {
    background: #FFEEC6;
  }

  .today {
    color: red;
    font-size: 16px;
    font-weight: bold;
  }
  .caption {
    position: relative;
    background: #ffcccc;
    font-family: arial black;
    text-align: center;
    height: 70px;
    border-radius: 10px;
    vertical-align: middle!important;
    font-size: 20px;
    & + tr {
      text-transform: uppercase;
    }
    button {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      outline: 0;
      width: 32px;
      height: 32px;
    }
    button.prev {
      left: 20px;
      background: url(../assets/images/controls.png) no-repeat 0 -32px;
    }

    button.next {
      right: 20px;
      background: url(../assets/images/controls.png) no-repeat -43px -32px;
    }
  }
  
}