
<span ng-class="{today: $ctrl.today}">{{$ctrl.td.day}}</span>

<ul ng-if="$ctrl.tasks.length">
	<tasks-comp 
		tasks="$ctrl.tasks" 
		day="$ctrl.td.day"
		category="$ctrl.category"
		status="$ctrl.status">
	</tasks-comp>
</ul>