

<li ng-repeat="task in $ctrl.tasks" ng-if="$ctrl.category ===  'Все' && $ctrl.status === 'Все'">{{task.time + ' ' + task.name + ' (' + task.category + ')'}}</li>

<li ng-repeat="task in $ctrl.tasks" ng-if="$ctrl.category === task.category && $ctrl.status === 'Все'">{{task.time + ' ' + task.name + ' (' + task.category + ')'}}</li>

<li ng-repeat="task in $ctrl.tasks" ng-if="$ctrl.category === 'Все' && $ctrl.status == task.VIP">{{task.time + ' ' + task.name + ' (' + task.category + ')'}}</li>

<li ng-repeat="task in $ctrl.tasks" ng-if="$ctrl.category === task.category && $ctrl.status == task.VIP">{{task.time + ' ' + task.name + ' (' + task.category + ')'}}</li>